.container {
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: #001220;
    position: relative;
    box-sizing: border-box;

    .layer-motion {
        position: absolute;
        width: 100%;
        left: 0;

        .begin {
            height: 100%;
            width: 100%;
            translate: -1% -15%;
        }

        .end {
            height: 100%;
            width: 100%;
            visibility: hidden;
        }
    }
}