.container {
    margin: 0;
    height: 100vh;
    width: auto;
    background-color: #001220;
    position: relative;

    .layer-motion {
        position: absolute;
        width: 100%;
        left: 0;

        .begin {
            height: 100%;
            width: 100%;
        }

        .end {
            height: 100%;
            width: 100%;
            visibility: hidden
        }
    }
}