
.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        height: auto;
        width: 800px;
        background-color: #333333;
        border-radius: 24px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;

            .hd {
                &__title {
                    font-size: 2rem;
                    color: white;
                    font-family: Shantell Sans;
                }
            }
        }

        .main {
            padding: 1rem;

            .bd {
                width: 600px;
                width: 600px;
                background-color: white;
            }
        }

        .opt {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 1rem;

            &__button {
                margin: 0 1rem;
                color: #333333;
                background-color: white;
                border-radius: 50%;
                border-width: 5px;
                border-style: solid;
                border-color: #707070;
                box-shadow: inset 0px 0px 10px 4px #969696;
                font-family: Shantell Sans;
                font-size: 1.2rem;
                font-weight: bold;
                height: 100px;
                width: 100px;

                &:hover {
                    transition: 0.5s ease;
                    box-shadow: inset 0px 0px 15px 6px #777777;
                }
            }
        }
    }
}